<app-index></app-index>
<div class="container" style="margin-top: 8%;">
  <div class="text-center">
    <h3>Patient Registration Page</h3>
    <p>Register the Patient</p>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
      <!-- form -->
      <form
        name="patForm"
        class="form-example"
        (ngSubmit)="p.form.valid && onSubmit()"
        #p="ngForm"
        novalidate
      >

        <!-- Patient Name -->
        <div class="form-group">
          <label for="pName">Name : </label>
          <input
            type="text"
            class="form-control"
            id="pName"
            name="pName"
            [(ngModel)]="pat.pName"
            #pName="ngModel"
            [ngClass]="{ 'is-invalid': p.submitted && pName.invalid }"
            required
          />
          <div *ngIf="p.submitted && pName.invalid" class="invalid-feedback">
            <div *ngIf="pName.errors.required">Patient Name is required</div>
          </div>
        </div>

        <!-- DOB -->
        <div class="form-group">
          <label for="pDob">DOB : </label>
          <input
            type="date"
            class="form-control txtDate"
            id="pDob"
            name="pDob"
            [(ngModel)]="pat.pDob"
            #pDob="ngModel"
            [ngClass]="{ 'is-invalid': p.submitted && pDob.invalid }"
            required
          />
          <div *ngIf="p.submitted && pDob.invalid" class="invalid-feedback">
            <div *ngIf="pDob.errors.required">Patient DOB is required</div>
          </div>
        </div>

        <!-- Patient No. -->
        <div class="form-group">
          <label for="pMobileNo">Contact No : </label>
          <input
            type="number"
            class="form-control"
            id="pMobileNo"
            name="pMobileNo"
			required
			minlength="10"
            [(ngModel)]="pat.pMobileNo"
            #pMobileNo="ngModel"
            [ngClass]="{ 'is-invalid': p.submitted && pMobileNo.invalid }"
          />
          <div
            *ngIf="p.submitted && pMobileNo.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="pMobileNo.errors.required">Mobile no. is required</div>
			<div *ngIf="pMobileNo.errors.minlength">Contact No must be at least 10 digit</div>
          </div>
      </div>

        <!-- Patient Address -->
        <div class="form-group">
          <label for="pAdd">Address : </label>
          <input
            type="text"
            class="form-control"
            id="pAdd"
            name="pAdd"
            [(ngModel)]="pat.pAdd"
            #pAdd="ngModel"
            [ngClass]="{ 'is-invalid': p.submitted && pAdd.invalid }"
            required
          />
          <div *ngIf="p.submitted && pAdd.invalid" class="invalid-feedback">
            <div *ngIf="pAdd.errors.required">Patient Address is required</div>
          </div>
        </div>

        <!-- Doctor -->
        <div class="form-group">
          <label for="doc">Doctor Id : </label>
          <select name="doc" class="form-control" [(ngModel)]="pat.doc.doctorId">
            <option [value]="doctor.doctorId" *ngFor="let doctor of docList">
              {{doctor.doctorId}} {{doctor.doctorName}}
            </option>
          </select>
        </div>

        <!-- Test -->
        <div class="form-group">
          <label for="test">Test Id : </label>
          <select name="test" class="form-control" [(ngModel)]="pat.test.tid">
            <option [value]="t.tid" *ngFor="let t of testList">
              {{t.tid}}  {{t.tName}}
            </option>
          </select>
        </div>

        <button class="btn btn-primary btn-customized">Save</button>
      </form>
    </div>
  </div>
</div>