<app-index></app-index>
<div class="container">
    <div class="text-center">
        <h3>Doctor Page</h3>
    </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                
<form name="docForm" (ngSubmit)="d.form.valid && onSubmit()" #d="ngForm" novalidate>

    <!-- docId -->
    <!-- <div class="form-group">
        <label for="doctorId">Doc Id</label>
        <input type="number" name="doctorId" class="form-control" [(ngModel)]="doc.doctorId" #doctorId="ngModel" [ngClass]="{'is-invalid' : d.submitted && doctorId.invalid }" required />
        <div *ngIf="d.submitted && doctorId.invalid" class="invalid-feedback">
            <div *ngIf="doctorId.errors.required">Doctor id is required</div>
        </div>
    </div> -->

    <!-- docName -->
    <div class="form-group">
        <label for="doctorName">Name</label>
        <input type="text" name="doctorName" class="form-control" [(ngModel)]="doc.doctorName" #doctorName="ngModel" [ngClass]="{'is-invalid' : d.submitted && doctorName.invalid }" required />
        <div *ngIf="d.submitted && doctorName.invalid" class="invalid-feedback">
            <div *ngIf="doctorName.errors.required">Doctor Name is required</div>
        </div>
    </div>

    <!-- docContactNo -->
    <div class="form-group">
        <label for="doctorPhoneNO">Contact No</label>
        <input type="number" name="doctorPhoneNO" class="form-control" [(ngModel)]="doc.doctorPhoneNO" #doctorPhoneNO="ngModel" [ngClass]="{'is-invalid' : d.submitted && doctorPhoneNO.invalid }" required />
        <div *ngIf="d.submitted && doctorPhoneNO.invalid" class="invalid-feedback">
            <div *ngIf="doctorPhoneNO.errors.required">Contact is required</div>
        </div>
    </div>

    <!-- docAdd -->
    <div class="form-group">
        <label for="doctorAddress">Address</label>
        <input type="text" name="doctorAddress" class="form-control" [(ngModel)]="doc.doctorAddress" #doctorAddress="ngModel" [ngClass]="{'is-invalid' : d.submitted && doctorAddress.invalid }" required />
        <div *ngIf="d.submitted && doctorAddress.invalid" class="invalid-feedback">
            <div *ngIf="doctorAddress.errors.required">Doctor Address is required</div>
        </div>
    </div>

    <!-- spec -->
    <div class="form-group">
        <label for="specialization">Sepc Id</label>
        <input type="number" name="specialization" class="form-control" [(ngModel)]="doc.specialization.specId" #specialization="ngModel" [ngClass]="{'is-invalid' : d.submitted && specialization.invalid }" required />
        <div *ngIf="d.submitted && specialization.invalid" class="invalid-feedback">
            <div *ngIf="specialization.errors.required">Specialization is required</div>
        </div>
    </div>

    <!-- dept -->
    <div class="form-group">
        <label for="department">department Id</label>
        <input type="number" name="department" class="form-control" [(ngModel)]="doc.department.deptId" #department="ngModel" [ngClass]="{'is-invalid' : d.submitted && department.invalid }" required />
        <div *ngIf="d.submitted && department.invalid" class="invalid-feedback">
            <div *ngIf="department.errors.required">Department is required</div>
        </div>
    </div>

    <button class="btn btn-primary">{{btn}}</button>
</form>
</div>
</div>
</div>