<app-index></app-index>
<div class="about-section" style="margin-top: 7%;">
    <h1>ABOUT US PAGE</h1>
  </div>

<div class="main-text">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea deserunt excepturi magnam illum accusamus aliquid doloremque labore sunt dolore placeat voluptatem voluptate nobis accusantium atque repudiandae voluptas, vero dolor. Nobis eius aspernatur dolore fugiat ut aliquid delectus quas assumenda, praesentium sapiente vitae facilis cupiditate quod autem voluptatibus tenetur repudiandae! Illum fugiat quaerat voluptate iste qui maxime consequuntur sit voluptatum! Vero, illum! Quisquam itaque nemo sunt corporis obcaecati, quas voluptatem autem molestiae culpa sequi ratione nostrum nulla voluptates dicta, rerum, rem ad ipsum dolorum? Ducimus, laborum similique cupiditate inventore cum repudiandae pariatur dolore minus libero sed aspernatur saepe porro! Ipsum, totam.
        
        </p>
</div>
  
  <h2 style="text-align:center">OUR TEAM</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../../assets/Image/man.jpg" alt="Aayush" style="width:100%" class="images">
        <div class="container">
          <h2>Aayush Gupta</h2>
          <p>Aayush.gupta@coforgetech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
        <div class="card">
            <img src="../../../assets/Image/girl.jpg" alt="Shipra" style="width:100%" class="images">
            <div class="container">
                <h2>Shipra Singh</h2>
                <p>Shipra.2@coforgetech.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../../assets/Image/girl.jpg" alt="Rashi" style="width:100%" class="images">
        <div class="container">
          <h2>Rashi Bhatia</h2>
          <p>Rashi@coforgetech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
      <div class="column">
        <div class="card">
            <img src="../../../assets/Image/man.jpg" alt="Anirudh" style="width:100%" class="images">
          <div class="container">
            <h2>Anirudh Pratap</h2>
            <p>Anirudh@coforgetech.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

  </div>