<app-index></app-index>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin-top: 7.3%;">
  <a class="navbar-brand" href="#">Patient List {{desc}}</a>
  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" style="margin-right: 15px;">
      <button class="btn btn-primary" (click)="gotoPatient()">New Patient</button>
    </li>
    <div class="form-inline">
      <input class="form-control mr-sm-2" type="text" [(ngModel)]="search" placeholder="Search">
    <!-- <button class="btn btn-success" type="submit">Search</button> -->
    </div>
  </ul>
</nav>
<br>
<div class="container">
  <table class="table table-striped table-bordered table-hover">
    <tr style="background: lightgreen">
      <th>ID</th>
      <th>Name</th>
      <th>Contact Number</th>
      <th>Address</th>
      <th>D.O.B</th>
      <th>Doctor</th>
      <th>Test</th>
      <th>ACTIONS</th>
    </tr>
    <tr *ngFor="let pat of patList | patientFilter: search">
      <td>{{ pat.pid }}</td>
      <td>{{ pat.pName }}</td>
      <td>{{ pat.pMobileNo}}</td>
      <td>{{ pat.pAdd}}</td>
      <td>{{ pat.pDob}}</td>
      <td>{{ pat.doc.doctorName}}</td>
      <td>{{ pat.test.tName}}</td>
      <td>
        <button (click)="getPatient(pat.pid)" class="btn btn-primary">
          Update
        </button>
        &nbsp;&nbsp;
        <!-- <button (click)="deletePatient(pat.pid)" class="btn btn-danger">
          Delete
        </button> -->
        <!-- &nbsp;&nbsp;
        <button (click)="gotoWard(pat)" class="btn btn-info">
          GOTO Ward
        </button> -->
      </td>
    </tr>
    <tr *ngIf="patList && patList.length == 0">
      <td colspan="8">No records found!</td>
    </tr>
  </table>
</div>
