<app-index></app-index>
<div class="container" style="margin-top: 8%;">
    <div class="text-center">
<h1>Insurance Page</h1>
</div>
    <div class="row justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
<form name="insForm" (ngSubmit)="i.form.valid && onSubmit()" #i="ngForm" novalidate>

    <!-- amt -->
    <div class="form-group">
        <label for="iAmt">Amount</label>
        <input type="number" name="iAmt" class="form-control" [(ngModel)]="ins.iAmt" #iAmt="ngModel" [ngClass]="{'is-invalid' : i.submitted && iAmt.invalid }" required />
        <div *ngIf="i.submitted && iAmt.invalid" class="invalid-feedback">
            <div *ngIf="iAmt.errors.required">amount is required</div>
        </div>
    </div>

    <!-- date -->
    <div class="form-group">
        <label for="iExpiryDate">Expiry Date</label>
        <input type="date" name="iExpiryDate" class="form-control" [(ngModel)]="ins.iExpiryDate" #iExpiryDate="ngModel" [ngClass]="{'is-invalid' : i.submitted && iExpiryDate.invalid }" required />
        <div *ngIf="i.submitted && iExpiryDate.invalid" class="invalid-feedback">
            <div *ngIf="iExpiryDate.errors.required">Date is required</div>
        </div>
    </div>

    <!-- patient -->
    <div class="form-group" id="hide">
        <label for="patient">Patient Id</label>
        <select name="patient" class="form-control" [(ngModel)]="ins.patient.pid">
            <option [value]="pat.pid" *ngFor="let pat of patList">
                {{pat.pid}}  {{pat.pName}}
            </option>
        </select>
    </div>

    <button class="btn btn-primary">Save</button>
</form>
</div>
</div>
</div>
<br><br><br>