.image{
    height:39em; background-size:cover; width:auto;
    background-image:url('../../assets/Image/image.jpg');
    background-position:50% 50%;
    position: relative;
}

.form-login{
    position: absolute;
    margin-top: 150px;
}

.username{
    width: 350px;
}

.password{
    width: 350px;
}